* {
    margin:0;
    padding:0;
}
li {
    /* text-align: center; */
    list-style:none;
    font-family: helvetica, arial, serif;
    margin:20px 0;
    font-weight: bold;
    text-transform: uppercase;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: black;
}
code[class*="language-"], pre[class*="language-"] {
    font-size: 20px;
}

li {
    font-size: 30px;
    background: lightgray;
    text-align: center;
    width: 600px;
}

ul{

}
